.user-list> div.panel-body{
	background: #F5F5F5;
	height: calc(100% - 40px);
	border: 1px solid #ddd;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.user-list{
	height: 100%;
}

.nick-form{
	display: flex;
	align-items: stretch;
}

.nickname{
	cursor: pointer;
}
.nickname>span>span{
	width: 0;
	opacity: 0;
	transition: opacity ease 0.8s;
}

.nickname:hover>span>span{
	width: auto;
	opacity: 1;
}