.chat-app{
	padding: 55px 0;
	height: 100vh;
}

.chat-app > div{
	height: 100%;
	margin-bottom: 55px;
}

.chat-app div.panel{
	border: 0px;
}

.chat-app div.panel-heading{
	border: 0px;
	background: #0D1B1E;
	color: #FFF;
}


.chat-app div.panel-footer{
	border: 1px solid #ddd;
}