.sign-in-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-greeting{
  margin-bottom: 15px;
}

.sign-in input{
  margin-bottom: 15px;
}

.sign-in .panel-body{
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sign-in .panel-heading{
  background: #0D1B1E;
  color: #FFF;
  border: 0;
}
